<h4>
    {{#if transactions}}
    Choose a new category for the transactions
    {{else}} Confirm deletion
    {{/if}}
</h4>

{{#each transactions}}
 <p>Amount: {{amount}}</p>
 <p>Source: {{transactionSource}}</p>
{{/each}}



<form action="" method="POST">
    {{#if transactions}}
<label for="category">Category</label>
<select name="newCategory" id="category" required>
    <option value="">Select </option>
    {{#each categories}}
     <option value="{{_id}}"> {{name}}</option>
    {{/each}}
</select>
 {{/if}}

<button type="submit">Delete {{#if transactions}} & Update {{/if}}
</button>

</form>