<h1>{{title}}</h1>
{{#each results}}
<div>
<p>Date of transaction: {{{ date date "DD/MM/YYYY" }}} </p>
<p>Source: {{transactionSource}}</p>
{{#each amount}}
    <p>
        <span>{{this}} {{../../currency}} -</span>
        <span>
            {{#with (lookup ../categoryId @index)}}
            {{name}}
            {{/with}}
        </span>
    </p>
{{/each}}
<p>Some notes: {{notes}}</p>
<br>
</div>
{{/each}}

