<h1>{{title}}</h1>
<h3>{{viewedMonth}}</h3>

<h2>Monthly Income</h2>
<table>
    <thead>
        <tr>
            <th>Date</th>
            <th>Sender</th>
            <th>Amount</th>
            <th>Category</th>
            <th>Notes</th>
        </tr>
    </thead>
    <tbody>
        {{#each incomes}}
            {{#each segments}}
                    <tr>
                        {{#if @first}}
                            <td>{{{ date date "DD/MM/YYYY" }}}</td>
                            <td>{{../transactionSource}}</td>
                        {{else}}
                            <td></td><td></td>
                        {{/if}}
                        <td>{{../../budget.currency}}{{amount}}</td>
                        <td>{{categoryId.name}}</td>
                        {{#if @first}}
                            <td>{{notes}}</td>
                        {{else}}
                            <td></td>
                        {{/if}}
                    </tr>
                {{/each}}
        {{/each}}
    </tbody>
</table>

<h2>Monthly Expenses</h2>
<table>
    <thead>
        <tr>
            <th>Date</th>
            <th>Recipient</th>
            <th>Amount</th>
            <th>Category</th>
            <th>Notes</th>
        </tr>
    </thead>
    <tbody>
        {{#each expenses}}
                {{#each segments}}
                    <tr>
                        {{#if @first}}
                            <td>{{{ date date "DD/MM/YYYY" }}}</td>
                            <td>{{../transactionSource}}</td>
                        {{else}}
                            <td></td><td></td>
                        {{/if}}
                        <td>{{../../budget.currency}}{{amount}}</td>
                        <td>{{categoryId.name}}</td>
                        {{#if @first}}
                            <td>{{notes}}</td>
                        {{else}}
                            <td></td>
                        {{/if}}
                    </tr>
                {{/each}}
        {{/each}}
    </tbody>
</table>

<h2>Monthly Income Budget</h2>
<table>
    <thead>
        <tr>
            <th>Category</th>
            <th>Planned</th>
            <th>Actual </th>
            <th>Difference</th>
        </tr>
    </thead>
    <tbody>
        {{#each categories}}
            {{#compare label "===" "income"}}
                {{#compare (add plannedAmount actualAmount) "!==" 0}}
                    <tr>
                        <td>{{name}}</td>
                        <td>{{plannedAmount}}</td>
                        <td>{{actualAmount}}</td>
                        <td>{{subtract plannedAmount actualAmount}}</td>
                    </tr>
                {{/compare}}
            {{/compare}}
       {{/each}}
    </tbody>
</table>

<h2>Monthly Expense Budget</h2>
<table>
    <thead>
        <tr>
            <th>Category</th>
            <th>Planned</th>
            <th>Actual </th>
            <th>Difference</th>
        </tr>
    </thead>
    <tbody>
       {{#each categories}}
            {{#compare label "===" "expense"}}
                {{#compare (add plannedAmount actualAmount) "!==" 0}}
                    <tr>
                        <td>{{name}}</td>
                        <td>{{plannedAmount}}</td>
                        <td>{{actualAmount}}</td>
                        <td>{{subtract plannedAmount actualAmount}}</td>
                    </tr>
                {{/compare}}
            {{/compare}}
       {{/each}}
    </tbody>
</table>