<section class="vr-yearly-summary">
    <h2 class="vr-yearly-summary__headline">{{title}}</h2>
    <p class="vr-yearly-summary__balance">{{user.name}}'s Current Balance: {{budget.currency}}{{budget.currentBalance}}</p>

    
    <section class="vr-yearly-summary__section vr-yearly-summary-section">
        <h3 class="vr-yearly-summary-section__headline">Summary</h3>
        <div class="vr-yearly-summary-section__line-chart vr-yearly-summary-line-chart" data-line-chart-summary=""></div>
        <div class="vr-yearly-summary-section__list">
        <table class="vr-yearly-summary-table">
            <thead>
                <tr>
                    <th class="vr-yearly-summary-table__col-head"></th>
                    {{#each budget.monthlySavings}}
                        <th class="vr-yearly-summary-table__col-head">{{date month 'MMM'}}</th>
                    {{/each}}
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th class="vr-yearly-summary-table__row-head">Income</th>
                    {{#each budget.monthlyIncome}}
                        <td class="vr-yearly-summary-table__cell">{{value}}</td>
                    {{/each}}
                </tr>
                <tr>
                    <th class="vr-yearly-summary-table__row-head">Expenses</th>
                    {{#each budget.monthlyExpense}}
                        <td class="vr-yearly-summary-table__cell">{{value}}</td>
                    {{/each}}
                </tr>
                <tr>
                    <th class="vr-yearly-summary-table__row-head">Net Savings</th>
                    {{#each budget.monthlySavings}}
                        <td class="vr-yearly-summary-table__cell">{{value}}</td>
                    {{/each}}
                </tr>
                <tr>
                    <th class="vr-yearly-summary-table__row-head">Ending Balance</th>
                    {{#each budget.monthlyStartBalance}}
                        <td class="vr-yearly-summary-table__cell">{{value}}</td>
                    {{/each}}
                </tr>
            </tbody>
        </table>
        </div>
    </section>

    <section class="vr-yearly-summary__section vr-yearly-summary-section">
        <h3 class="vr-yearly-summary-section__headline">Income</h3>
        <div class="vr-yearly-summary-section__list">
        <table class="vr-yearly-summary-table">
            <thead>
                <tr>
                    <th class="vr-yearly-summary-table__col-head"></th>
                    {{#each budget.monthlySavings}}
                        <th class="vr-yearly-summary-table__col-head">{{date month 'MMM'}}</th>
                    {{/each}}
                </tr>
            </thead>
            <tbody>
                {{#each categories}}
                    {{#compare label "===" "income"}}
                        <tr>
                            <th class="vr-yearly-summary-table__row-head">{{name}}</th>
                            {{#each actualAmount}}
                                <td class="vr-yearly-summary-table__cell">{{value}}</td>
                            {{/each}}
                        </tr>
                    {{/compare}}
                {{/each}}
            </tbody>
        </table>
        </div>
    </section>

    <section class="vr-yearly-summary__section vr-yearly-summary-section">
        <h3 class="vr-yearly-summary-section__headline">Expense</h3>
        <div class="vr-yearly-summary-section__list">
        <table class="vr-yearly-summary-table">
            <thead>
                <tr>
                    <th class="vr-yearly-summary-table__col-head"></th>
                    {{#each budget.monthlySavings}}
                        <th class="vr-yearly-summary-table__col-head">{{date month 'MMM'}}</th>
                    {{/each}}
                </tr>
            </thead>
            <tbody>
                {{#each categories}}
                    {{#compare label "===" "expense"}}
                        <tr>
                            <th class="vr-yearly-summary-table__row-head">{{name}}</th>
                            {{#each actualAmount}}
                                <td class="vr-yearly-summary-table__cell">{{value}}</td>
                            {{/each}}
                        </tr>
                    {{/compare}}
                {{/each}}
            </tbody>
        </table>
        </div>
        <div
            class="vr-yearly-summary-section__expense-summary-chart vr-yearly-expense-summary-chart"
            data-pie-chart-expenses="{{expenseSummary.yearlyValues}}"
            data-pie-chart-category-name="{{expenseSummary.names}}">
        </div>
    </section>
    
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
<script src="/scripts/pie-chart.js"></script>
<script src="/scripts/line-chart.js"></script>