<section>
    <h2>{{title}}</h2>
    <p>{{user.name}}'s Current Balance: {{budget.currency}}{{budget.currentBalance}}</p>

    <h3>Summary</h3>
    <table class="vr-yearly-summary-table">
        <thead>
            <tr>
                <th class="vr-yearly-summary-table__col-head"></th>
                {{#each budget.monthlySavings}}
                    <th class="vr-yearly-summary-table__col-head">{{date month 'MMM'}}</th>
                {{/each}}
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="vr-yearly-summary-table__row-head">Income</th>
                {{#each budget.monthlyIncome}}
                    <td class="vr-yearly-summary-table__cell">{{value}}</td>
                {{/each}}
            </tr>
            <tr>
                <th class="vr-yearly-summary-table__row-head">Expenses</th>
                {{#each budget.monthlyExpense}}
                    <td class="vr-yearly-summary-table__cell">{{value}}</td>
                {{/each}}
            </tr>
            <tr>
                <th class="vr-yearly-summary-table__row-head">Net Savings</th>
                {{#each budget.monthlySavings}}
                    <td class="vr-yearly-summary-table__cell">{{value}}</td>
                {{/each}}
            </tr>
            <tr>
                <th class="vr-yearly-summary-table__row-head">Ending Balance</th>
                {{#each budget.monthlyStartBalance}}
                    <td class="vr-yearly-summary-table__cell">{{value}}</td>
                {{/each}}
            </tr>
        </tbody>
    </table>

    <h3>Income</h3>
    <table class="vr-yearly-summary-table">
        <thead>
            <tr>
                <th class="vr-yearly-summary-table__col-head"></th>
                {{#each budget.monthlySavings}}
                    <th class="vr-yearly-summary-table__col-head">{{date month 'MMM'}}</th>
                {{/each}}
            </tr>
        </thead>
        <tbody>
            {{#each categories}}
                {{#compare label "===" "income"}}
                    <tr>
                        <th class="vr-yearly-summary-table__row-head">{{name}}</th>
                        {{#each actualAmount}}
                            <td class="vr-yearly-summary-table__cell">{{value}}</td>
                        {{/each}}
                    </tr>
                {{/compare}}
            {{/each}}
        </tbody>
    </table>

    <h3>Expense</h3>
    <table class="vr-yearly-summary-table">
        <thead>
            <tr>
                <th class="vr-yearly-summary-table__col-head"></th>
                {{#each budget.monthlySavings}}
                    <th class="vr-yearly-summary-table__col-head">{{date month 'MMM'}}</th>
                {{/each}}
            </tr>
        </thead>
        <tbody>
            {{#each categories}}
                {{#compare label "===" "expense"}}
                    <tr>
                        <th class="vr-yearly-summary-table__row-head">{{name}}</th>
                        {{#each actualAmount}}
                            <td class="vr-yearly-summary-table__cell">{{value}}</td>
                        {{/each}}
                    </tr>
                {{/compare}}
            {{/each}}
        </tbody>
    </table>
    <div
        class="vr-yearly-expense-summary-chart"
        data-pie-chart-expenses="{{expenseSummary.yearlyValues}}"
        data-pie-chart-category-name="{{expenseSummary.names}}">
    </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
{{!-- <script src="https://d3js.org/d3.v6.min.js"></script> --}}
<script src="/scripts/pie-chart.js"></script>